* {
    font-family:"Poppins", sans-serif;
    background-color: black;
}

h1{
    color: palevioletred;
    text-align: center;
    font-size: 50px;
    padding: 0;
    margin: 0;
}

.container
{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;

}

.container img {
    width: 10%;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid rgb(249, 0, 133);
    transition: all ease-in-out 0.5s;
}

.container img:hover{
    width:15%;
}

.main {
    height: 450px;
}

.btn_container{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
#btn{
    background-color: rgb(249, 0, 133);
    font-size: 20px;
    border-radius: 20px;
    border: 0;
    padding-left: 50px;
    padding-right: 50px;
}

#content_bini{
    height: 100px;
    margin-left: 15%;
    margin-right: 15%;
    background-color: pink;
}

#explore_bini{
    margin-left: 15%;
    margin-right: 15%;
    background-color: pink;

}

h2{
    color: black;
    font-size: 30px;
    background-color: pink;

}
#text{
    color: black;
    text-align: justify;
    padding: 10px;
    background-color: pink;
    
}


b{
    background-color: pink;
    font-weight: bold;
}

