.container {
    width:100%;
    overflow:auto;
    padding: 10px;
    display: grid;
    grid-template-columns: 53% 50% 33%;
  }

  .container div 
  {
    padding: 5px;
    width: 30%;
    display: inline-block;
    
  }
